# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Ignore installed packages
Packages/

# Ignore Rojo build artifacts
*.rbxlx
*.rbxl
*.rblx

# Temp files
*.tmp
*.swp
*.swo

# Standard lib
roblox.yml
